/*header*/
.header {
    background: white;
  }
  
.main img{
    width: 100%;
    height: auto;
  }
  
#logo img{
    position: absolute;
    margin: 0;
    width: 130px;
    height: 80px;
    padding: 10px;  
}

.contents {
    width: 1030px;
    height: 100px;
    margin: 0 auto;
}
  /*footer*/
  .footer {
    padding: 20px; /* Some padding */
    font-size: 15px;
    text-align: center; /* Center text*/
    background: #585858; /* Grey background */
    font-family: Arial, serif, sans-serif;
    color: white;
  }
